<h1>Color Settings</h1>

<%= form_with(
  url: settings_path,
  method: :patch,
  scope: :theme_preference,
  local: true
) do |form| %>
  <div>
    <%= form.label :template_name, "Theme" %>
    <%= form.select :template_name,
      KeystoneColors::Templates.names.map { |n|
        [KeystoneColors::Templates[n][:label], n]
      },
      { include_blank: "Custom" },
      {} %>
  </div>

  <div>
    <%= form.label :accent %>
    <%= form.select :accent,
      KeystoneColors::ThemePreference::SUPPORTED_ACCENTS.map { |a| [a.capitalize, a] },
      {},
      {} %>
  </div>

  <div>
    <%= form.label :surface %>
    <%= form.select :surface,
      KeystoneColors::ThemePreference::SUPPORTED_SURFACES.map { |s| [s.capitalize, s] },
      {},
      {} %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
